body.light {
	--body-background-color: #d6f2ff;
	--body-color: black;
}

body.dark {
	--body-background-color: #fff;
	--body-color: white;
}

body {
	background-color: var(--body-background-color);
	font-family: "Arial","メイリオ";
	font-style: normal;
	font-size: 10pt;
	color:  var(--body-color);
}

a {
	font-style: normal;
	text-decoration: none;
}

a:link {
	color: #0785ce;
}

a:active {
	color: #2185ce;
}

a:visited {
	color: #2185ce;
}

a:hover {
	color: #3ba8de;
	text-decoration: underline;
}

p{
	margin-top: 1px;
	margin-bottom: 1px;
}

h1 {
	font-style: bold;
	font-size: 120%;
	color: white;
	background-color: gray;
}

h2 {
	font-style: bold;
	font-size: 120%;
	color: blck;
}

h3 {
	font-style: normal;
	font-size: 120%;
	color: black;

	padding: 0.5ex;
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #2a289d;
}

h4 {
	font-style: bold;
	color: white;
	background-color: #2a289d;
	padding: 5px;
	margin: 0.5em 0;
}

h5 {
	font-style: bold;
	color: rgb(100, 100, 100);
	font-size: 95%;
	margin: 0 0;
	padding: 2px;
}

h6 {
	font-style: bold;
	font-size: 120%;
	color: white;
	background-color: red;
	padding: 5px;
	margin: 0.5em 0;
}

span.notice {
	color: red;
}

blockquote {
	padding: 1ex;
	border-style: dashed;
	border-width: 0 0 1px 1px;
	border-color: darkgray;
}

ul {
	margin: 0 0 1px 5px;
	padding-left: 10px;
}

.linkbtn a {
	border-radius: 10px;
	display: block;
	padding: 4px 30px 4px 30px;
	box-sizing: border-box;
	background: #588dee;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	margin: 5px 0;
}

.linkbtn a:hover {
	background-color: #81a8f1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10%;
	width: 200px;
	width: fit-content;
}

table.hwsetup{
	border-collapse:separate;
	border-color: white;
	padding: 5px 0;
}

table.hwsetup tr{
	background-color: #e7e7e7;
}

table.hwsetup th{
	text-align: center;
	color:white;
	padding: 4px 10px 4px 10px;
}

table.hwsetup td{
	text-align: center;
	background-color: #e7e7e7;
	color:black;
	padding: 4px 10px 4px 10px;
}

td.hwsetup {
	background-color: #4bc7bb;
	color: #FFF;
	font-weight:bold;
	padding: 4px 10px 4px 10px;
}
	
table.hwsetup tr.setuphead {
	background-color:  #5b5966;
	text-align: center;
	color: #FFF;
	font-style: bold;
	font-weight:bold;
	padding: 4px 10px 4px 10px;
}

table.hwsetup td.setuphead {
	background-color: #5b5966;
	text-align: center;
	color: #FFF;
	font-style: bold;
	font-weight:bold;
	padding: 4px 10px 4px 10px;
}
